<div class="col-md-8 well">
<%= form_for (@art_plan)  do |f| %>
  <%= render partial: 'layouts/errors', locals: {object: @art_plan} %>
  <h4><center>Create an art plan:</h4></center>

  <div class="center">
    <%= f.label :goal %>
    <%= f.select(:goal, ["Write Gallery Description", "Send to Museum", "Set Price", "Finish Soon", "Finish for Critique"]) %>
  </div>

  <div class="center">
    <%= f.label :description %>
    <%= f.select(:description, ["Medium", "Politics", "Social Issues", "Ideas", "Identity", "References"]) %>
  </div>
  <br><br>
</div>

    <div class="col-md-8 well">
      <h4><center>Add your art schedule:</h4></center>
      <%= f.fields_for :art_schedule do |as|%>

    <div class="center">
      <%= as.label :art_time %>
      <%= as.select(:art_time, ["Morning-ish", "Afternoon-ish", "Evening-ish", "Night-ish"]) %>
    </div>

    <div class="center">
      <%= as.label :art_type %>
      <%= as.select(:art_type, ["Painting", "Video", "Sculpture", "Performance", "Drawing"]) %>
    </div>
  </div>

      <div class="col-md-8 well">
        <h4><center>Add your art project:</h4></center>
        <%= as.fields_for :art_project do |a|%>
          <%= a.label :medium %>
          <%= a.text_field :medium, placeholder: "Painting", required: true %>

          <%= a.label :idea %>
          <%= a.text_field :idea, placeholder: "Identity", required: true  %>

          <%= a.label :content %>
          <%= a.text_field :content, placeholder: "Social Issues", required: true  %>

          <%= a.label :artist_reference %>
          <%= a.text_field :artist_reference, placeholder: "Murakami", required: true  %>

          <%= a.label :price %>
          <%= a.number_field :price, placeholder: "$100,000", required: true  %>

          <%= a.label :day %>
          <%= a.date_field :day, required: true  %>

          <% end %>
      <% end %>

<div class="center">
  <%= f.submit %>
</div>
<% end %>