<%= render "shared/page_title", title: "Edit Your Art Project Planner:" %>

<div class="col-md-8 well">
  <%= form_for (@art_plan)  do |f| %>
  <h4><center>Edit art plan:</h4></center>

   <div class="center">
     <%= f.label :goal %>
     <%= f.text_field(:goal) %>
   </div>

  <div class="center">
    <%= f.label :description %>
    <%= f.text_field(:description) %>
  </div>
  <br><br>

<div class="center">
  <%= f.submit %>
</div>
<% end %>

